*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
#main{
    width:100%;
    min-height: 100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://media.architecturaldigest.com/photos/63079fc7b4858efb76814bd2/16:9/w_4000,h_2250,c_limit/9.%20DeLorean-Alpha-5%20%5BDeLorean%5D.jpg);
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);    
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url(https://i.pinimg.com/originals/06/3b/a1/063ba1c7d298044275b131531222ba14.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 220px;
}
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 12px;
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.b1{
    width: 100%;
    min-height: inherit;
    background-image: url(https://img.icarcdn.com/autospinn/body/000000405816_04ccce10_e82f_49da_83d8_e23bcf5a062f.jpg);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    color: white;
    text-align: center;
    padding: 30px;
}
.b1 p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/https-media-brabus-com-resources-persistent-0-4-d-8-04d87b61f90f71d171b3a9e2bf7b68d2d563a09e-brabus-20rocket-20900-grey-20-28612-20von-20633-29-1603459586.jpg?crop=1xw:0.8436926839209293xh;center,top&resize=1200:*);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    color: white;
    text-align: center;
    padding: 30px;
}
.b2 .up p{
    color: white;
    text-align: center;
    padding: 15px;
}
.b2 .down{
    color: white;
    width: 100%;
    min-height: 20vh;
    text-align: center;
    padding: 30px;
    background-image: url(https://stimg.cardekho.com/images/carexteriorimages/930x620/Toyota/Vellfire/10337/1715313437175/front-left-side-47.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0);
}
.b3{
    color: white;
    width: 100%;
    min-height: inherit;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUr4T1HxkhfDA4fJCc2h0K32ZCFeVEDlQTog&s);
    background-size: cover;
    background-position: center;
}
.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 200%;
    padding: 4vw 3vh;
}
.b3 .overlay p{
    padding: 1.2vh;
}

@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .b1{
        width: 100%;
        min-height: 30vh;
    }
    .b2{
        width: 100%;
    }
    .b2 up{
        min-height: 30vh; 
    }
    .b3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}